<ion-view view-title="{{'app_name' | translate}} - {{'menu_map' | translate}}">
    <div id="map_canvas" ng-class="ng-scope">
        <ui-gmap-google-map id="map"
                            center="map.center"
                            pan="map.pan"
                            zoom="map.zoom"
                            draggable="true"
                            refresh="map.refresh"
                            options="map.options"
                            events="map.events"
                            bounds="map.bounds"
                            control="map.control">

            <ui-gmap-markers models="markers" coords="'coords'"
                             icon="'img'"
                             title="'description'"
                             labelAnchor="22 0"
                             labelClass="marker-labels"
                             click="onMarkerClicked" options="'options'">
                <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'">
                    <div>
                        <h3><p ng-non-bindable>{{ name }}!</p></h3>

                        <p ng-non-bindable>{{ description }}!</p>

                    </div>
                </ui-gmap-windows>

            </ui-gmap-markers>

            <ui-gmap-markers models="meMarkers" coords="'coords'" icon="'img'" title="'description'" labelAnchor="22 0"
                             labelClass="marker-labels"
                             click="onMarkerClicked" options="'options'">
                <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'">
                    <div>
                        <h3><p ng-non-bindable>{{ name }}!</p></h3>

                        <p ng-non-bindable>{{ description }}!</p>

                    </div>
                </ui-gmap-windows>

            </ui-gmap-markers>

        </ui-gmap-google-map>
    </div>
    <ion-footer-bar class="bar-dark">
        <P><span class="button-bar-inline icon ion-navigate"> {{'map_distance' | translate}} {{ currentLocation.distance | number:3 }}km</span>
        </P>
    </ion-footer-bar>
</ion-view>
