<ion-view view-title="Quick Room Finder">
    <div id="map_canvas" ng-class="ng-scope">
        <ui-gmap-google-map id="map"
                            center="map.center"
                            pan="map.pan"
                            zoom="map.zoom"
                            draggable="true"
                            refresh="map.refresh"
                            options="map.options"
                            events="map.events"
                            bounds="map.bounds">

            <ui-gmap-markers models="markers" coords="'coords'" icon="'img'" labelContent="'name'"></ui-gmap-markers>

            <!--<ui-gmap-marker idKey="currentLocation.id" coords="currentLocation" image="'img'"></ui-gmap-marker>-->

        </ui-gmap-google-map>
    </div>
    <ion-footer-bar class="bar-dark">
        <span class="button button-icon icon ion-navigate">My Location {{currentLocation}}</span>
    </ion-footer-bar>
</ion-view>
