<ion-view view-title="{{'app_name' | translate}} - {{'menu_menuplan' | translate}}">
    <ion-content>
        <h3>Menu for {{date | date:'dd-MM-yyyy'}}</h3>

        <div class="list card" ng-repeat="menu in menus">
            <div class="item item-text-wrap item-thumbnail-left">
                <img ng-src="{{menu.icon}}">

                <h2><strong>{{menu.name}}</strong></h2>

                <p>{{menu.price}}</p>

                <div ng-bind-html="menu.description"></div>
            </div>
        </div>
    </ion-content>
</ion-view>