<ion-view view-title="{{'app_name' | translate}} - {{'menu_search' | translate}}">
    <div id="search_area" ng-class="ng-scope">
        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="{{'search_placeholder' | translate}}" ng-model="query"
                           ng-change="search()">
                </label>
                <button type="button" class="button button-clear" ng-click="cancel()">{{'search_clear' | translate}}
                </button>
            </div>
        </div>
    </div>

    <ion-content id="content" push-search>
        <div id="searchResults" class="clearfix">
            <div class="list card" ng-repeat="result in searchResults track by result.id">
                <div class="item item-text-wrap">
                    <a class="item item-icon-left" href="#/app/mapselect/{{result.id}}&{{result.floorId}}">
                        <i class="icon {{result.icon}}"></i>
                        <h2><strong>{{result.name}}</strong></h2>
                        <div ng-bind-html="result.description"></div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>